@font-face {
  font-family: "9118";
  src: url("./Fonts/9118/9118-webfont.woff2") format("woff2"),
    url("./Fonts/9118/9118-webfont.woff") format("woff");
}
@font-face {
  font-family: "11246";
  src: url("./Fonts/11246/11246-webfont.woff2") format("woff2"),
    url("./Fonts/11246/11246-webfont.woff") format("woff");
}
@font-face {
  font-family: "11586";
  src: url("./Fonts/11585/11585-webfont.woff2") format("woff2"),
    url("./Fonts/11585/11585-webfont.woff") format("woff");
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  height: 900px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 1) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 1) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  text-align: center;
  position: relative;
}
.header_figure {
  height: 100%;
}
.header_logo {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 42%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.represent {
  max-width: 1440px;
  height: 800px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 1) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 1) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  color: #c6c6c6;
  position: relative;
}
.represent::before {
  position: absolute;
  width: 100%;
  content: "";
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 1) 0%,
    #c9cccb 60%,
    rgba(10, 10, 10, 1) 90%,
    rgba(10, 10, 10, 1) 100%
  );
}
.represent_img {
  position: absolute;
  bottom: -30px;
  left: 0;
}
.represent_content {
  width: 500px;
  position: absolute;
  top: 6%;
  right: 10%;
  margin-left: auto;
  line-height: 30px;
}
.represent_content-title {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
.represent_content-text {
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0;
}
.represent_content-list {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 40px;
}
.represent_content-list__item {
  position: relative;
}
.represent_content-list__item::before {
  position: absolute;
  left: -30px;
  content: "\25CF";
}

.represent_content-link {
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}

.stretching {
  max-width: 1440px;
  height: 750px;
  margin: 0 auto;
  background: url("./img/stretching2.png") round;
  position: relative;
}
.stretching_title {
  text-align: right;
  width: 236px;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 46%;
  left: 41%;
  transform: translate(-50%, -50%);
}
.stretching_title::after {
  position: absolute;
  bottom: 4px;
  left: -32px;
  width: 820px;
  content: "";
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 0) 0%,
    rgba(228, 185, 54, 0.6) 60%,
    rgba(10, 10, 10, 0) 90%,
    rgba(10, 10, 10, 0) 100%
  );
}

.stretching_text {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 26%;
  right: 30%;
}

.stretching_text-link {
  position: absolute;
  bottom: 17%;
  right: 42.5%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}

.individual {
  max-width: 1440px;
  margin: 0 auto;
  height: 1865px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 0.95) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 0.95) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  text-align: right;
  position: relative;
}
.individual_title {
  width: 348px;
  text-align: right;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 380px;
  right: 50%;
}
.individual_title::after {
  position: absolute;
  bottom: -34px;
  left: -100px;
  content: "";
  width: 650px;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(27, 29, 38, 0) 0%,
    #c9cccb 50%,
    rgba(27, 29, 38, 0) 100%
  );
}
.individual_logo {
  position: absolute;
  top: 120px;
  right: 500px;
  width: 365px;
}
.individual_bluephoto {
  margin-top: 10px;
  margin-right: 15px;
}
.individual_text {
  width: 395px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  top: 29%;
  right: 36%;
}

.individual_link {
  position: absolute;
  top: 37.5%;
  right: 35.5%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}

.individual_brownphoto {
  position: absolute;
  top: 700px;
  left: 45px;
}

.individual_secondtitle {
  text-align: right;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  bottom: 545px;
  right: 12%;
}

.individual_secondtext {
  width: 490px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 11%;
  right: 12%;
}

.individual_secondlink {
  position: absolute;
  bottom: 5%;
  right: 12%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}

.meal {
  max-width: 1440px;
  margin: 0 auto;
  height: 1148px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 0.95) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 0.95) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  position: relative;
  overflow: hidden;
}
.meal_img1 {
  position: absolute;
  top: 120px;
  left: -120px;
}
.meal_img2 {
  position: absolute;
  top: 115px;
  right: -15px;
}

.meal_title {
  width: 378px;
  text-align: left;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 42%;
}
.meal_text {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  top: 100px;
  right: 41.5%;
}
.meal_link {
  position: absolute;
  top: 210px;
  right: 54%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}
.meal_secondtitle {
  width: 378px;
  text-align: left;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  bottom: 280px;
  right: 230px;
}
.meal_secondtext {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 120px;
  right: 230px;
  text-align: right;
}
.meal_secondlink {
  position: absolute;
  bottom: 30px;
  right: 230px;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}
.partytrain {
  max-width: 1440px;
  margin: 0 auto;
  height: 913px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 0.95) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 0.95) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  position: relative;
  overflow: hidden;
}
.partytrain::before {
  position: absolute;
  top: 0;
  content: "";
  width: 950px;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 0) 0%,
    rgba(228, 185, 54, 0.6) 60%,
    rgba(10, 10, 10, 0) 90%,
    rgba(10, 10, 10, 0) 100%
  );
}

.partytrain::after {
  position: absolute;
  bottom: 0;
  left: 100px;
  content: "";
  width: 950px;
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(27, 29, 38, 0) 0%,
    #68696d 25%,
    rgba(27, 29, 38, 0) 100%
  );
}
.partytrain_img {
  position: absolute;
  right: 0;
}
.bachata {
  max-width: 1440px;
  margin: 0 auto;
  height: 1082px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 0.95) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 0.95) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  position: relative;
}
.bachata::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 1) 0%,
    #e22c42 60%,
    rgba(10, 10, 10, 1) 90%,
    rgba(10, 10, 10, 1) 100%
  );
}

.bachata_logo {
  position: absolute;
  right: 70px;
  top: -57px;
  width: 400px;
}
.bachata_img {
  position: absolute;
  right: 0;
  top: 70px;
}
.bachata_title {
  font-family: "11586";
  font-size: 50px;
  font-weight: 100;
  color: #e22c42;
  letter-spacing: 2px;
  position: absolute;
  bottom: 350px;
  left: 100px;
}
.bachata_title span {
  font-family: "11586";
  font-size: 70px;
  font-weight: 100;
  color: #e22c42;
}
.bachata_text {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  top: 40px;
  left: 25%;
  text-align: right;
}
.bachata_link {
  position: absolute;
  top: 170px;
  left: 37.5%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}

.bachata_secondtext {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 160px;
  left: 100px;
}
.bachata_secondlink {
  position: absolute;
  bottom: 80px;
  left: 100px;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(27, 29, 38, 0.95) 20%,
    rgba(38, 44, 60, 1) 50%,
    rgba(27, 29, 38, 0.95) 80%,
    rgba(10, 10, 10, 1) 100%
  );
  position: relative;
}
.footer_img {
  position: absolute;
  top: 30px;
  left: 115px;
}
.footer_logo {
  width: 300px;
  position: absolute;
  bottom: 70px;
  left: 100px;
}
.footer_title {
  text-align: center;
  color: #e4b936;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 900;
  position: absolute;
  top: 38%;
  left: 170px;
}
.footer_title span {
  font-weight: 100;
}
.footer_text {
  width: 383px;
  color: #c6c6c6;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  position: absolute;
  top: 30%;
  right: 10%;
}
.footer_link {
  position: absolute;
  top: 48%;
  right: 22.5%;
  font-size: 17px;
  font-weight: 900;
  background: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 50px;
  padding: 15px 25px;
  color: #c6c6c6;
}
.footer_contacts {
  width: 380px;
  position: absolute;
  bottom: 8%;
  right: 13%;
  display: flex;
  justify-content: space-between;
}
.footer_contacts-methods {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.phone {
  font-size: 39px;
  color: #c6c6c6;
}
.web-site {
  font-size: 30px;
  color: #c6c6c6;
  margin: 0 0 7px 0;
}
.footer_contacts-qr {
  width: 100px;
  border-radius: 4px;
}
.footer_contacts-socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_contacts-socials p {
  color: #c6c6c6;
  font-size: 25px;
}
.footer_contacts-socials img {
  width: 30px;
}
